


.form-basicinfo{
    background-color: #F5F5F5;
    margin-top: -27%;
    margin-left: 17%;
}

.form-basicinfo .form {
    
    display: flex;
    
    justify-content: space-between;
}




.form-basicinfo .form-container1 {
    margin: 2%;
    margin-left: 5%;
    padding: 1%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;

    
}

.form-basicinfo .input {
    width: 50vh;
    height: 5vh;

    border: 1px solid #C3C3C3;
    border-radius: 8px;
}



.form-basicinfo h3 {
    margin: 3%;
    padding: 1%;
    text-align: left;
    font-size: 22px;
}



.form-basicinfo .form-container2 {
    margin: 2%;

    padding: 1%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}

.form-basicinfo button{
    background-color:#6AB4F8;
    padding: 10px 15px;
    border:1px solid #6AB4F8;
    border-radius: 25px;
    color: white;
    margin-right: 10px; 
    margin-top: 25px;
}
.form-basicinfo .buttons{
    margin-left: 0%;
}