.content{
    margin-left: 16.70%;
    width: 84%;
    min-height: 630px;
    background-color: rgb(245, 245, 245);
    position: relative;
    margin-top: -36.13%;
}

h4{
    float: left;
   font-family: 'Open Sans';
   color: rgb(192, 193, 195);
   padding-left: 10px;
}

#img-2{
    width: 30px;
    height: 30px;
    float: right;
    padding: 10px 130px;
}
ul{
   margin-left: 0;
    list-style: none;
      
}

li{
    list-style: none;
   color: rgb(108, 109, 110);
  padding: 8px;
  text-align: start;
  display: flex;
  flex-direction: row;
    
}

.img-1{
    width: 35px;
    height: 30px;
    mix-blend-mode: multiply;

}
#l-1{
    color:rgb(89, 89, 235) ;
}

#search{
    float: left;
    margin-top: 3%;
    height: 40px;
    width: 220px;
    margin-left: 20px;
    border-radius: 25px;
    border-color: white;
}
#btn{
    color: white;
    background-color: rgb(134, 134, 228);
    width: 180px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    height: 50px;
    font-size: large;
    border-color: white;
    box-shadow: 1px 1px 10px 10px;
    float: right;
    margin: 2% 20px;
}
.list{
    margin-top: 7%;
    width: 100%;
    background-color: rgb(225, 234, 234);
    height: 50px;
    border: 2px solid;
    border-color: rgb(225, 234, 234) ;
    border-radius: 10px;
    
   
}
.ul{
    display: flex;
    flex-direction: row;
    margin-left: 1px;
    height: 50px;
    position: absolute;
    margin-top: 125px;
}

.list-item
{


    font-size: large;
    margin-top: -20px;
    padding-left: 70px;
    color: rgb(104, 104, 110);
}